@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Open+Sans&display=swap');

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
    
    --color-gradient:  linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

*{
    font-family: 'Pop';
}